<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sLimsCounter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <sLimsCounter.Properties.Settings>
            <setting name="RememberChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerFill" serializeAs="String">
                <value />
            </setting>
            <setting name="PortFill" serializeAs="String">
                <value />
            </setting>
            <setting name="DbFill" serializeAs="String">
                <value />
            </setting>
            <setting name="UserFill" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordFill" serializeAs="String">
                <value />
            </setting>
        </sLimsCounter.Properties.Settings>
    </userSettings>
</configuration>